
{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

    <!--<div id="mynetwork" class="center"></div>-->
    <!--<canvas id="viewport" width="800" height="600"></canvas>-->

    <div id="myDiagramDiv"
     style="width:1080px; height:800px; "></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.5/jquery.address.min.js"></script>
    <script src="{% static 'dashboard/arbor.js' %}"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/graphicsjs/1.3.2/graphics.js"></script>-->

    <script src="{% static 'dashboard/data_vis.js' %}"></script>

    <script>
        var everything = [];
        {% for p in persons %}
            var temp = Object.assign({}, {
                id: parseInt('{{ p.id }}'),
                name : '{{ p.name }}',
                big : '{{ p.big }}',
                big_2: '{{ p.big_2 }}',
                assistant_big: '{{ p.assistant_big }}',
                assistant_big_2: '{{ p.assistant_big_2 }}'
            })
            everything.push(temp);
        {% endfor %}




        run_data_vis_big(everything);
    </script>

    <style>
        #myDiagramDiv {
            position:absolute;
            top:0px;
            left:0;
            z-index:1;
            background-color: #DAE4E4;
        }

        #mynetwork{
            border: solid;
        }

        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
        }

        .link {
          stroke: #aaa;
        }

        .node text {
        stroke:#333;
        cursos:pointer;
        }

        .node circle{
        stroke:#fff;
        stroke-width:3px;
        fill:#555;
        }
    </style>

{% endblock %}